.navbar{
    margin-top: 2vh;
    height: 8vh;
    font-size: 250%;
    background-color: #5E503F;
}

.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar-title{
    color: #C6AC8F;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
}