*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  border: none;
  color: #22333B;
}

html{
  background-color: #ecdac7;
}

::-webkit-scrollbar {
  display: none;
}
