.active_pop_up {
    position: fixed;
    left: 0%;
    top: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.447);
  }
  .cont {
    background-color: #C6AC8F;
    width: 60vw;
    height: 70vh;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .popUp_grid_item {
    height: 70vh;
    width: 60vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .koczka_kep {
    position: fixed;
    left: 12vw;
  }
  .popUp_title {
    background-color: #5E503F;
    font-size: 3rem;
    margin-top: 3vh;
    padding-top: 2vh;
    width: 60vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #C6AC8F;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popUp_quot {
    padding-left: 10vw;
    margin-top: 10vh;
    font-size: 2rem;
  }
  .x_btn {
    position: fixed;
    left: 78.8vw;
    top: 15.5vh;
    width: 1vw;
    height: 1vw;
  }
